@charset "UTF-8";
.recuadro {
  border: 1px solid #FF3333;
  width: 350px;
  height: 350px;
  margin-bottom: 50px; }
  .recuadro .servicios {
    margin: 130px 0px 0px 90px; }
    .recuadro .servicios h2 {
      color: #212121;
      font-weight: 800; }
    .recuadro .servicios .color {
      color: #FF3333;
      margin-top: -5px; }

.servFrase {
  font-size: 30px;
  font-weight: 700;
  color: #D8D8D8;
  padding-bottom: 25px; }

.hablemosBtn {
  margin-bottom: 50px; }
  .hablemosBtn input {
    border-style: none;
    background-color: #FF3333;
    color: white;
    width: 200px;
    height: 50px; }
  .hablemosBtn input:hover {
    background-color: #212121; }

/* ESTILOS SERVICIOS DISEÑO GRÁFICO */
.serviciosdg h2 {
  font-weight: 800; }

.serviciosdg .color {
  color: #FF3333;
  margin-top: -5px; }

.serviciosoff h2 {
  font-weight: 800;
  color: #d8d8d8; }

.serviciosoff .segundalinea {
  margin-top: -5px; }

.marginTop {
  margin-top: 50px; }

.subtitulos {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 10px; }

.lineados {
  margin: 25px 0px 50px 0px; }

.btnAtras:hover {
  border-color: #212121; }

a .btnServ .recuadro:hover {
  background-color: #CCFF00; }

.button-img {
  display: inline-block;
  position: relative; }
  .button-img img {
    cursor: pointer;
    transition: all 500ms ease-out; }
  .button-img .capa {
    position: absolute;
    top: 0;
    width: 376px;
    height: 350px;
    background-color: #CCFF00;
    transition: all 500ms ease-out;
    opacity: 0px;
    visibility: hidden; }
    .button-img .capa a {
      position: absolute;
      width: 100px;
      top: 155px;
      right: 137px;
      border-color: #FF3333;
      border-radius: 0px;
      color: #FF3333; }
  .button-img .infoTrabajos {
    margin-top: 20px;
    margin-bottom: 35px; }
    .button-img .infoTrabajos h3 {
      font-size: 18px;
      font-weight: 700; }
    .button-img .infoTrabajos p {
      font-size: 14px;
      letter-spacing: 2px;
      margin-top: -5px; }

.button-img:hover > .capa {
  opacity: 1;
  visibility: visible; }

/* PÁGINAS TRABAJOS */
.detalleTrabajos {
  margin-left: 50px; }
  .detalleTrabajos h2 {
    margin-top: 50px;
    font-size: 60px;
    font-weight: 800;
    color: #212121;
    border: 0px; }
  .detalleTrabajos h3 {
    font-size: 18px;
    letter-spacing: 2px; }

.imagenes {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

.cierre {
  margin: 50px 0px 50px 0px; }
  .cierre h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 800; }
  .cierre p {
    text-align: center;
    color: #FF3333; }

.cierre a:hover {
  text-decoration: none; }

.cierre a p:hover {
  text-decoration: none;
  color: #CCFF00;
  font-weight: 800; }

.contacto {
  margin: 0px 50px 0px 0px; }
  .contacto ul {
    list-style: none; }
  .contacto li {
    color: #FF3333; }
  .contacto .nocolor {
    color: #212121; }

.formulario {
  margin-top: 50px; }
  .formulario label {
    font-weight: 700;
    letter-spacing: 2px; }
  .formulario input {
    width: 100%;
    height: 40px;
    border-style: none;
    background-color: #CCFF00;
    margin-bottom: 20px; }
  .formulario textarea {
    margin-top: 10px;
    width: 100%; }
  .formulario #botonform {
    display: block;
    border-style: none;
    background-color: #FF3333;
    color: white;
    width: 200px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 50px; }

#botonform:hover {
  background-color: #212121; }

body {
  font-family: "Open Sans", sans-serif; }

nav .navbar-brand {
  padding: 0px;
  margin-left: 20px; }

nav ul li a {
  color: white;
  font-size: 14px; }

nav .nav-item {
  margin: 0px 20px 0px 20px; }

nav .nav-link:hover {
  color: #CCFF00;
  text-decoration: overline; }

nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.bgnav {
  background-color: #212121; }
  .bgnav a.bgnav:hover, .bgnav a.bgnav:focus,
  .bgnav button.bgnav:hover,
  .bgnav button.bgnav:focus {
    background-color: #212121; }

.footer {
  background-color: #CCFF00;
  padding: 60px 50px 60px 50px; }
  .footer .lista__footer {
    list-style: none;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px; }
  .footer .logosredes {
    width: 20px;
    height: 20px;
    margin: 2px 2px 0px 0px; }

h1 {
  font-weight: 700;
  -webkit-text-stroke: 1px #FF3333;
  color: transparent;
  margin: 50px 0px 50px 50px; }

.marginLateral {
  margin-left: 50px;
  margin-right: 50px; }

a.nounderline:link {
  text-decoration: none; }

.nosotros {
  height: 250px; }
