.bg-magenta {
	background-color: $coloruno;
}
.contacto {
	margin-right: 50px;
	margin-left: 50px;
	h2 {
		margin-top: 50px;
		font-size: 40px;
		font-weight: $bold;
		-webkit-text-stroke: 1px white;
		color: transparent;
	}
}

.listContact {
	margin-top: 50px;
	p {
		color: white;
		font-size: 18px;
		margin-top: -10px;
	}
	.color {
		color: $colortres;
	}
}


.formulario {
	margin-top: 50px;
	label {
		color: white;
		font-size: 14px;
		letter-spacing: 2px;
	}
	input {
		background-color: transparent;
	}
	.inp {
		border: 0;
    	border-bottom: 1px solid $colortres;
		margin-bottom: 25px;
    	padding: 5px 0px 5px 0px;
    	transition: all 1s;
	}
	textarea {
		border: 1px solid $colortres;
		margin-top: 25px;
	}
	#botonform {
		display: block;
		border-style: none;
		background-color: $colortres;
		color: white;
		width: 200px;
		height: 50px;
		margin-top: 15px;
		margin-bottom: 50px;
	}
}

input, select, textarea {
    width: 100%;
    background-color: transparent;
}

.inp:focus {
    outline: 0;
    border-bottom: 1px solid $colordos;
    transform: scale(1,2);
}

textarea:focus {
    outline: 0;
    border: 1px solid $colordos;
}

textarea::placeholder {
	padding: 10px 0px 0px 10px;
   	color: white;
   	letter-spacing: 1px;
   	opacity: 0.8;
}

#botonform:hover {
	background-color: $colordos;
	color: $colortres;
}

#botonform:focus {
    outline: 0;
	background-color: $colordos;
}

/*button, input {
    overflow: visible;
}
*/
