<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">

    <title>Contacto</title>
    <meta name="description" content="Estás pensando en lanzar tu proyecto y no sabes por donde empezar? Escribinos y contanos más. Queremos ayudarte y trabajar juntos.">
    <meta name="keywords" content="CONTACTO, DIRECCION, EMAIL, TELEFONO, NUESTRAS REDES, CONTACTATE">
  </head>
  <body>

    <nav class="navbar sticky-top navbar-expand-lg bgnav">
      <a class="navbar-brand" href="../index.html"><img src="../img/logo-09.png" alt="logo" id="#"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="servicios.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="portfolio.html">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid bg-magenta">
      <div class="row contacto nopadding">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h2>Hablemos!</h2>
          <div class="listContact">
            <p class="color">#CONTACTO</p>
            <p>hola@blabla.com.ar</p>
            <p>+54 9 297 478 0943</p>
          </div>
          <div class="listContact">
            <p class="color">#DIRECCIÓN</p>
            <p>Cipolletti, Río Negro <br>_</p>
          </div>
            
          
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 formulario">
          <label for="nombre">Nombre:</label>
          <input type="text" name="nombre" class="inp">
          
          <label for="empresa">Empresa/Proyecto:</label>
          <input type="text" name="empresa" class="inp">
          
          <label for="email">Email:</label>
          <input type="text" name="email" class="inp">

          <label for="telefono">Teléfono:</label>
          <input type="text" name="telefono"class="inp">

          <label for="opinion"> <textarea name="opinion" id="" cols="125" rows="10" placeholder="Dejanos tu mensaje:"></textarea></label>
          <input id="botonform" type="submit" value="Enviar">
        </div>
      </div>

      <div class="row footer">
        <div class="col-md-4 col-sm-12">
          <ul class="lista__footer">
            <li>Cipolletti,</li>
            <li>Río Negro</li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-12">
          <ul class="lista__footer">
          <li>hola@blabla.com.ar</li>
          <li>+54 9 297 478 0943</li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12">
        <ul class="lista__footer">
          <li>¡SEGUINOS!</li>
          <!--Incluir link direccionando a perfiles -->
            <a href="https://www.facebook.com/" target="_blank"><img class="logosredes" src="../img/facebook.svg" alt="logofb"></a>
            <a href="https://www.instagram.com/" target="_blank"><img class="logosredes" src="../img/instagram.svg" alt="logoig"></a>
        </ul>
      </div>
    </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>