<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    <meta name="description" content="Diseñamos comunicaciones visuales para transmitir mensajes concretos y cumplir objetivos especificos, adaptados a la necesidad de cada cliente y su público objetivo.">
    <meta name="keywords" content="DISEÑO GRAFICO, GRAPHIC DESIGN, IDENTIDAD, DISEÑO MARCA, PAPELERÍA, LOGO, EDITORIAL, SEÑALETICA, BRANDING, PRODUCTO, REDES SOCIALES">

    <title>Diseño Gráfico</title>
  </head>
  <body>

    <nav class="navbar sticky-top navbar-expand-lg bgnav">
      <a class="navbar-brand" href="../index.html"><img src="../img/logo-09.png" alt="logo" id="#"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="servicios.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="portfolio.html">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

  <div class="container-fluid">

      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="serviciosdg">
            <h1>DISEÑO</h1>
            <h1 class="color">GRÁFICO</h1>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          <a href="servicios.html" class="nounderline"><img class="BTNcierre" src="../img/BTNcierre-07.png" alt="botonCierre"></a>
        </div>
      </div>

    <!--
      <div class="row marginLateral"> 
        <div class="col-md-4 col-sm-12">
          <div class="serviciosdg">
            <h2>DISEÑO</h2>
            <h2 class="color">GRÁFICO</h2>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="serviciosoff">
            <h2>DISEÑO</h2>
            <h2 class="segundalinea">WEB</h2>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="serviciosoff">
            <h2>DISEÑO</h2>
            <h2 class="segundalinea">UX/UI</h2>
          </div>
        </div>
      </div>
    -->

      <div class="row marginLateral marginTop">
        
        <div class="col-md-4 col-sm-12">
          <img src="../img/miscelanea.png" alt="miscelanea">
          <div class="categorias">
            <h3 class="subtitulos">IDENTIDAD</h3>
            <p>Desarrollamos la identidad de emprendimientos o empresas creando conceptos y estrategias que luego serán la base para la creación de un sistema gráfico que ayudará a <strong>construir una marca sólida, y por supuesto, única.</strong></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <img src="../img/miscelanea.png" alt="miscelanea">
          <div class="categorias">
            <h3 class="subtitulos">PAPELERÍA</h3>
            <p>Una papelería adecuada es una perfecta forma de presentación, y por ello su importancia. Realizamos <strong> tarjetas personales, carpetas, membretes, sobres, firmas email e invitaciones,</strong> desde el diseño hasta su completa implementación.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <img src="../img/miscelanea.png" alt="miscelanea">
          <div class="categorias">
            <h3 class="subtitulos">EDITORIAL</h3>
            <p>Diseño y maquetación de publicaciones.<strong> Arte de tapa para libros o revistas, catálogo de productos, menú o carta, brochure, manual de instrucciones, infografías.</strong> </p>
          </div>
        </div>
      </div>

      <div class="row marginLateral lineados">
         <div class="col-md-4 col-sm-12">
          <img src="../img/miscelanea.png" alt="miscelanea">
          <div class="categorias">
            <h3 class="subtitulos">PRODUCTO</h3>
            <p> <strong>Merchandising, diseño de packaging, diseño de envases, etiquetas y otros.</strong> Trabajamos para darle identidad al producto o mejorar la imagen del mismo.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <img src="../img/miscelanea.png" alt="miscelanea">
          <div class="categorias">
            <h3 class="subtitulos">PUBLICIDAD</h3>
            <p>Es fundamental dar a conocer tus productos o servicios ante posibles consumidores, para ello la publicidad gráfica tiene un enorme potencial de atracción a la atención del usuario.<strong> Avisos para diario o revista. Flyer, folletos. Afiches, banners, fachadas, stands, ploteados para vidrieras o vehículos.</strong> </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <img src="../img/miscelanea.png" alt="miscelanea">
          <div class="categorias">
            <h3 class="subtitulos">REDES SOCIALES</h3>
            <p>Las redes son hoy, un canal fundamental para establecer comunicación con nuestros seguidores y hacer crecer tu comunidad, a través de interacción y diversas herramientas que ayudarán a obtener buenos resultados.<strong> Diseño de post, gestión de comunidades, campañas promocionales.</strong></p>
          </div>
        </div>
      </div>

      <div class="row footer">
        <div class="col-md-4 col-sm-12">
          <ul class="lista__footer">
            <li>Cipolletti,</li>
            <li>Río Negro</li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-12">
          <ul class="lista__footer">
          <li>hola@blabla.com.ar</li>
          <li>+54 9 297 478 0943</li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12">
        <ul class="lista__footer">
          <li>¡SEGUINOS!</li>
          <!--Incluir link direccionando a perfiles -->
            <a href="https://www.facebook.com/" target="_blank"><img class="logosredes" src="../img/facebook.svg" alt="logofb"></a>
            <a href="https://www.instagram.com/" target="_blank"><img class="logosredes" src="../img/instagram.svg" alt="logoig"></a>
        </ul>
      </div>
    </div>

</div> <!-- Cierre Container -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>