<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap" rel="stylesheet">

    <title>Diseño Tapa de Libro</title>
    <meta name="description" content="Conocé nuestra selección de trabajos y proyectos.">
    <meta name="keywords" content="PORTFOLIO, PROYECTOS, TRABAJOS, DISEÑO EDITORIAL, LIBRO, ARTE TAPA">
  </head>
  <body>

    <nav class="navbar sticky-top navbar-expand-lg bgnav">
      <a class="navbar-brand" href="../index.html"><img src="../img/logo-09.png" alt="logo" id="#"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="servicios.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="portfolio.html">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="kiosco">
            <h2>DISEÑO <span>EDITORIAL</span></h2>
            <h3>// KIOSCO SALUDABLE</h3>
            <p>Diseño de tapa realizado para el proyecto de <em>Mariano Navarro</em>, quién en el lanzamiento de la 3ra edición ampliada de su libro, decidió renovar la imagen del mismo. Trabajamos en conjunto hasta obtener el resultado final deseado. <br> <br>
            <strong>“Kiosco Saludable en la Escuela”,</strong> es un proyecto que busca despertar el amor de cada niñx por la tierra, las plantas, los animales, las personas y el alimento. Entender, comprender y saborear los colores y aromas de la Soberanía Alimentaria.<br>_ </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="imgLibro">
            <img id="libro" src="../img/libro-14.png" alt="tapalibro">
          </div>
        </div>
      </div>
      
      <!-- proceso 
      <div class="row bg-orange">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="cajatxt">
            <h3>UN POCO</h3>
            <h3 class="extrab">DE PROCESO</h3>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="bocetos">
            <text>// bocetos</text>
          </div>
        </div>
      </div>
      
      
      <div class="row padd-">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <img src="../img/collage 1.png" alt="bocetos">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <img src="../img/collage 2.png" alt="bocetos">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <img src="../img/collage 3.png" alt="bocetos">
        </div>
      </div>

      -->

      <div class="row cierre">
        <div>
          <a href="portfolio.html"><button role="button" class="botonV">Volver</button></a>
        </div>
      </div>

      
      <div class="row footerBlack">
          <div class="col-md-4 col-sm-12">
            <ul class="lista__footer">
              <li>Cipolletti,</li>
              <li>Río Negro</li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12">
            <ul class="lista__footer">
              <li>hola@blabla.com.ar</li>
              <li>+54 9 297 478 0943</li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12">
            <ul class="lista__footer">
              <li>¡SEGUINOS!</li>
              <!--Incluir link direccionando a perfiles -->
              <a href="https://www.facebook.com/" target="_blank"><img class="logosredes" src="../img/facebookWhite.svg" alt="logofb"></a>
              <a href="https://www.instagram.com/" target="_blank"><img class="logosredes" src="../img/instagramWhite.svg" alt="logoig"></a>
            </ul>
          </div>
      </div>
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>