<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap" rel="stylesheet">

    <title>Portfolio</title>
    <meta name="description" content="Conocé cómo trabajamos y por qué elegirnos.">
    <meta name="keywords" content="PORTFOLIO, PROYECTOS, TRABAJOS, MOCKUP, DISEÑOS, COMUNICACION, SERVICIOS">
  </head>
  <body>

    <nav class="navbar sticky-top navbar-expand-lg bgnav">
      <a class="navbar-brand" href="../index.html"><img src="../img/logo-09.png" alt="logo" id="#"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="servicios.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="portfolio.html">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      
      <div class="row">
        <div class="col-md-12">
          <h1>» PORTFOLIO</h1>
        </div>
      </div>

      <div class="row marginLateral">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="button-img">
            <img src="../img/portfolioBTN-01.png" alt="trabajo01">
            <div class="capa">
              <a href="porf_heyou.html" type="button" class="btn">Ver +</a>
            </div>
            <div class="infoTrabajos">
              <h3>HEY YOU.</h3>
              <p>Diseño editorial</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="button-img">
            <img src="../img/portfolioBTN-02.png" alt="trabajo02">
            <div class="capa">
              <a href="porf_libro.html" type="button" class="btn">Ver +</a>
            </div>
            <div class="infoTrabajos">
              <h3>KIOSCO SALUDABLE.</h3>
              <p>Diseño de tapa</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="button-img">
            <img src="../img/portfolioBTN-03.png" alt="trabajo03">
            <div class="capa">
              <a href="porf_papeleria.html" type="button" class="btn">Ver +</a>
            </div>
            <div class="infoTrabajos">
              <h3>SÉNECA.</h3>
              <p>Papelería Institucional</p>
            </div>
          </div>
        </div>
         <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="button-img">
            <img src="../img/portfolioBTN-04.png" alt="trabajo04">
            <div class="capa">
              <a href="porf_freddo.html" type="button" class="btn">Ver +</a>
            </div>
            <div class="infoTrabajos">
              <h3>FREDDO.</h3>
              <p>Comunicación</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="button-img">
            <img src="../img/portfolioBTN-05.png" alt="trabajo05">
            <div class="capa">
              <a type="button" class="btn">Ver +</a>
          </div>
          <div class="infoTrabajos">
              <h3>ALGO RICO.</h3>
              <p>Identidad de marca y producto</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="button-img">
            <img src="../img/portfolioBTN-06.png" alt="trabajo06">
            <div class="capa">
              <a href="porf_stand.html" type="button" class="btn">Ver +</a>
            </div>
            <div class="infoTrabajos">
              <h3>COCINEROS PATAGÓNICOS.</h3>
              <p>Gráfica para stand</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row footer">
        <div class="col-md-4 col-sm-12">
          <ul class="lista__footer">
            <li>Cipolletti,</li>
            <li>Río Negro</li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-12">
          <ul class="lista__footer">
          <li>hola@blabla.com.ar</li>
          <li>+54 9 297 478 0943</li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12">
        <ul class="lista__footer">
          <li>¡SEGUINOS!</li>
          <!--Incluir link direccionando a perfiles -->
            <a href="https://www.facebook.com/" target="_blank"><img class="logosredes" src="../img/facebook.svg" alt="logofb"></a>
            <a href="https://www.instagram.com/" target="_blank"><img class="logosredes" src="../img/instagram.svg" alt="logoig"></a>
        </ul>
      </div>
    </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>