<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">

    <title>Proximamente</title>
  </head>
  <body>

    <nav class="navbar sticky-top navbar-expand-lg bgnav">
      <a class="navbar-brand" href="../index.html"><img src="../img/logo-09.png" alt="logo" id="#"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="servicios.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="portfolio.html">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

  <div class="container-fluid">

    <div class="row bg-black">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1>¡PRÓXIMAMENTE!</h1>
        <div align="center"><a href="servicios.html" class="nounderline"><img class="BTNcierreverde" src="../img/BTNcierre-08.png" alt="botonCierre"></a></div>
      </div>
    </div>
    
    <div class="row footerBlack">
        <div class="col-md-4 col-sm-12">
          <ul class="lista__footer">
            <li>Cipolletti,</li>
            <li>Río Negro</li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-12">
          <ul class="lista__footer">
          <li>hola@blabla.com.ar</li>
          <li>+54 9 297 478 0943</li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12">
        <ul class="lista__footer">
          <li>¡SEGUINOS!</li>
          <!--Incluir link direccionando a perfiles -->
            <a href="https://www.facebook.com/" target="_blank"><img class="logosredes" src="../img/facebookWhite.svg" alt="logofb"></a>
            <a href="https://www.instagram.com/" target="_blank"><img class="logosredes" src="../img/instagramWhite.svg" alt="logoig"></a>
        </ul>
      </div>
    </div>

</div> <!-- Cierre Container -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>